*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/core/build/intermediates/aar_metadata/debug/writeDebugAarMetadata/aar-metadata.properties
/data/build/intermediates/aar_metadata/debug/writeDebugAarMetadata/aar-metadata.properties
/core/build/intermediates/aapt_friendly_merged_manifests/debug/processDebugManifest/aapt/AndroidManifest.xml
/core/build/intermediates/merged_manifest/debug/processDebugManifest/AndroidManifest.xml
/data/build/intermediates/aapt_friendly_merged_manifests/debug/processDebugManifest/aapt/AndroidManifest.xml
/data/build/intermediates/merged_manifest/debug/processDebugManifest/AndroidManifest.xml
/core/build/intermediates/annotation_processor_list/debug/javaPreCompileDebug/annotationProcessors.json
/data/build/intermediates/annotation_processor_list/debug/javaPreCompileDebug/annotationProcessors.json
/data/build/kspCaches/debug/ap-classpath-entries.bin
/data/build/kotlin/compileDebugKotlin/local-state/build-history.bin
/data/build/kspCaches/debug/caches.uptodate
/core/build/intermediates/compile_library_classes_jar/debug/bundleLibCompileToJarDebug/classes.jar
/data/build/intermediates/compile_library_classes_jar/debug/bundleLibCompileToJarDebug/classes.jar
/data/build/kspCaches/debug/classpath-entries.bin
/data/build/kspCaches/debug/classpath-structure.bin
/core/build/intermediates/incremental/debug/packageDebugResources/compile-file-map.properties
/data/build/intermediates/incremental/debug/packageDebugResources/compile-file-map.properties
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/counters.tab
/data/build/kspCaches/debug/symbolLookups/counters.tab
/data/build/intermediates/java_res/debug/processDebugJavaRes/out/META-INF/data_debug.kotlin_module
/data/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/META-INF/data_debug.kotlin_module
/data/build/tmp/kotlin-classes/debug/META-INF/data_debug.kotlin_module
/data/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/com/blank/fakeapp/data/di/DataModuleKt.class
/data/build/tmp/kotlin-classes/debug/com/blank/fakeapp/data/di/DataModuleKt.class
/data/build/.transforms/b1369f25871329d8231a667d39be89fd/transformed/bundleLibRuntimeToDirDebug/com/blank/fakeapp/data/di/DataModuleKt.dex
/core/build/.transforms/6d509ef9689dc47e19f25ba57bb7142c/transformed/bundleLibRuntimeToDirDebug/desugar_graph.bin
/core/build/.transforms/a3de6f82ae150c961218b76f356f3764/transformed/bundleLibRuntimeToDirDebug/desugar_graph.bin
/data/build/.transforms/b1369f25871329d8231a667d39be89fd/transformed/bundleLibRuntimeToDirDebug/desugar_graph.bin
/domain/build/.transforms/b13d5537a9bf6978fc1aa3b842d1e4d0/transformed/empty/desugar_graph.bin
/domain/build/.transforms/c08557d3019978964c643196bcf2e7fb/transformed/empty/desugar_graph.bin
/domain/build/.transforms/ea024d8094b68b8226bc8049a2587c74/transformed/empty/desugar_graph.bin
/domain/build/.transforms/ec286f552ef69fc75ebe9e4e37e1bb7c/transformed/empty/desugar_graph.bin
/domain/build/libs/domain.jar
/core/build/intermediates/android_res_source_set_path_map/debug/mapDebugSourceSetPaths/file-map.txt
/data/build/intermediates/android_res_source_set_path_map/debug/mapDebugSourceSetPaths/file-map.txt
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab
/data/build/kspCaches/debug/symbolLookups/file-to-id.tab
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.keystream
/data/build/kspCaches/debug/symbolLookups/file-to-id.tab.keystream
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.keystream.len
/data/build/kspCaches/debug/symbolLookups/file-to-id.tab.keystream.len
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.len
/data/build/kspCaches/debug/symbolLookups/file-to-id.tab.len
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.values.at
/data/build/kspCaches/debug/symbolLookups/file-to-id.tab.values.at
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab_i
/data/build/kspCaches/debug/symbolLookups/file-to-id.tab_i
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab_i.len
/data/build/kspCaches/debug/symbolLookups/file-to-id.tab_i.len
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab
/data/build/kspCaches/debug/symbolLookups/id-to-file.tab
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.keystream
/data/build/kspCaches/debug/symbolLookups/id-to-file.tab.keystream
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.keystream.len
/data/build/kspCaches/debug/symbolLookups/id-to-file.tab.keystream.len
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.len
/data/build/kspCaches/debug/symbolLookups/id-to-file.tab.len
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.values.at
/data/build/kspCaches/debug/symbolLookups/id-to-file.tab.values.at
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab_i.len
/data/build/kspCaches/debug/symbolLookups/id-to-file.tab_i.len
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i.len
/.kotlin/sessions/kotlin-compiler-4768853858881568489.salive
/.idea/kotlinc.xml
/data/build/kotlin/compileDebugKotlin/cacheable/last-build.bin
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab
/data/build/kspCaches/debug/symbolLookups/lookups.tab
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab.keystream
/data/build/kspCaches/debug/symbolLookups/lookups.tab.keystream
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab.keystream.len
/data/build/kspCaches/debug/symbolLookups/lookups.tab.keystream.len
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab.len
/data/build/kspCaches/debug/symbolLookups/lookups.tab.len
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab.values.at
/data/build/kspCaches/debug/symbolLookups/lookups.tab.values.at
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab_i
/data/build/kspCaches/debug/symbolLookups/lookups.tab_i
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab_i.len
/data/build/kspCaches/debug/symbolLookups/lookups.tab_i.len
/domain/build/tmp/jar/MANIFEST.MF
/core/build/intermediates/manifest_merge_blame_file/debug/processDebugManifest/manifest-merger-blame-debug-report.txt
/data/build/intermediates/manifest_merge_blame_file/debug/processDebugManifest/manifest-merger-blame-debug-report.txt
/core/build/outputs/logs/manifest-merger-debug-report.txt
/data/build/outputs/logs/manifest-merger-debug-report.txt
/.idea/markdown.xml
/core/build/intermediates/incremental/debug/packageDebugResources/merger.xml
/core/build/intermediates/incremental/mergeDebugAssets/merger.xml
/core/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
/core/build/intermediates/incremental/mergeDebugShaders/merger.xml
/core/build/intermediates/incremental/packageDebugAssets/merger.xml
/data/build/intermediates/incremental/debug/packageDebugResources/merger.xml
/data/build/intermediates/incremental/mergeDebugAssets/merger.xml
/data/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
/data/build/intermediates/incremental/mergeDebugShaders/merger.xml
/data/build/intermediates/incremental/packageDebugAssets/merger.xml
/core/build/intermediates/navigation_json/debug/extractDeepLinksDebug/navigation.json
/data/build/intermediates/navigation_json/debug/extractDeepLinksDebug/navigation.json
/core/build/intermediates/nested_resources_validation_report/debug/generateDebugResources/nestedResourcesValidationReport.txt
/data/build/intermediates/nested_resources_validation_report/debug/generateDebugResources/nestedResourcesValidationReport.txt
/core/build/intermediates/aapt_friendly_merged_manifests/debug/processDebugManifest/aapt/output-metadata.json
/data/build/intermediates/aapt_friendly_merged_manifests/debug/processDebugManifest/aapt/output-metadata.json
/core/build/intermediates/symbol_list_with_package_name/debug/generateDebugRFile/package-aware-r.txt
/data/build/intermediates/symbol_list_with_package_name/debug/generateDebugRFile/package-aware-r.txt
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/package-parts.tab
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/package-parts.tab.keystream
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/package-parts.tab.keystream.len
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/package-parts.tab.len
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/package-parts.tab.values.at
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/package-parts.tab_i
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/package-parts.tab_i.len
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.keystream
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.keystream.len
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.len
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.values.at
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab_i
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab_i.len
/core/build/intermediates/compile_r_class_jar/debug/generateDebugRFile/R.jar
/data/build/intermediates/compile_r_class_jar/debug/generateDebugRFile/R.jar
/core/build/intermediates/compile_symbol_list/debug/generateDebugRFile/R.txt
/data/build/intermediates/compile_symbol_list/debug/generateDebugRFile/R.txt
/core/build/intermediates/local_only_symbol_list/debug/parseDebugLocalResources/R-def.txt
/data/build/intermediates/local_only_symbol_list/debug/parseDebugLocalResources/R-def.txt
/core/build/.transforms/6d509ef9689dc47e19f25ba57bb7142c/results.bin
/core/build/.transforms/a3de6f82ae150c961218b76f356f3764/results.bin
/data/build/.transforms/b1369f25871329d8231a667d39be89fd/results.bin
/domain/build/.transforms/b13d5537a9bf6978fc1aa3b842d1e4d0/results.bin
/domain/build/.transforms/c08557d3019978964c643196bcf2e7fb/results.bin
/domain/build/.transforms/ea024d8094b68b8226bc8049a2587c74/results.bin
/domain/build/.transforms/ec286f552ef69fc75ebe9e4e37e1bb7c/results.bin
/data/build/kspCaches/debug/sealed
/data/build/kotlin/compileDebugKotlin/classpath-snapshot/shrunk-classpath-snapshot.bin
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream.len
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.len
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab_i
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab_i.len
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.keystream
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.keystream.len
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.len
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.values.at
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab_i
/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab_i.len
/data/build/kspCaches/debug/sourceToOutputs
/data/build/kspCaches/debug/symbols
/.idea/vcs.xml
